body {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;
}

.nav-bar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    overflow-x: scroll;
}

.nav-bar::-webkit-scrollbar {
    display: none;
}

.title {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.search {
    font-size: 20px;
    font: inherit;
    border-radius: 10px;
    padding: 5px 10px;
    min-width: 270px;
}

.search-btn {
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    font: inherit;
    margin: 4px 2px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: lightgrey;
    color: #4CAF50;
}

.tabs li {
    list-style: none;
    display: inline-block;
}

.tab {
    color: white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
}

.tab:hover {
    background-color: #4CAF50;
}

#articles {
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
    height: 100vh;
}

.list-changes {
    padding: 10px;
    max-width: 20%;
    min-width: 175px;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-changes button {
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    font-size: 10px;
    font: inherit;
    margin: 4px 2px;
    cursor: pointer;
}

.scroll {
    padding: 20px;
    flex: 1 1 70%;
    overflow-y: scroll;
}

.item {
    background-color: white;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

/* .item ul {
    list-style: none;
}

.item li {
    display: inline;
    padding: 5px;
} */

.link {
    text-decoration: none;
    padding: 4px 9px;
}

.link:hover {
    border: 1px dashed black;
    border-radius: 10px;
}

.choice-btn {
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    font: inherit;
    margin: 4px 2px;
    cursor: pointer;
}

.choice-btn:hover {
    background-color: lightgrey;
    color: #4CAF50;
}

footer {
    background-color: black;
    text-align: center;
    padding: 10px;
}

footer a {
    color: white;
    text-decoration: none;
}