<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compiled - Home</title>

    <link rel="stylesheet" href="/css/style.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="/js/script.js" defer></script>
</head>

<body>
    <header>
        <div class="nav-bar">
            <div class="title-container">
                <p class="title">Compiled</p>
            </div>

            <div class="search-container">
                <img src="/media/search_icon.png" data-search-icon>
                <input type="search" name="search" placeholder="Search articles" data-search-input>
            </div>

            <div class="tabs-container">
                <ul class="tabs">
                    <!-- <li data-tab-target="#articles" class="active tab">Articles</li>
                    <li data-tab-target="#list" class="tab">My List</li> -->

                    <li>
                        <form id="articles-tab" action="/articles" method="GET">
                            <input id="articles-button" type=submit value="Articles">
                        </form>
                    </li>
                    <li>
                        <form id="list-tab" action="/list" method="GET">
                            <input id="list-button" type=submit value="My List">
                        </form>
                    </li>
                    <!-- Planning to make this a drop down menu w/ option to delete or logout account -->
                    <li>
                        <form id="logout-form" action="/logout" method="POST">
                            <input id="logout-button" type=submit value="Logout">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <main>
        <div id="articles" class="articles active" data-tab-content>
            <div class="list-changes">
                <h3>Filter</h3>

                <h4>Topic</h4>

                <div data-topics>
                    <template class="topic-filter" data-topic-template>
                        <button class="topic-btn" data-topic>Label</button>
                    </template>
                </div>

                <h4>Publisher</h4>

                <div data-publishers>
                    <template class="publisher-filter" data-publish-template>
                        <button class="publish-btn" data-publish>Org</button>
                    </template>
                </div>
            </div>

            <div class="scrollable" data-articles-container>
                <template data-article-template>
                    <div class="item">
                        <div data-title>No Title</div>
                        <div data-summary>No Summary Provided</div>
                        <div data-publisher>No Publisher Specified</div>
                        <div class="choices">
                            <a href="#" class="link" data-link>Read More</a>
                            <!-- <button id="add-topic" class="choice-btn">Add Topic</button>
                            <button id="add-publish" class="choice-btn">Add Publisher</button> -->
                            <button class="choice-btn" data-add-this>Add This Article</button>
                        </div>
                    </div>
                </template>
            </div>
        </div>

        <div id="list" class="list hide" data-tab-content>
            <div class="list-changes">
                <h3>Filter</h3>

                <h4>Topic</h4>

                <div data-topics>
                    <template class="topic-filter" data-topic-template>
                        <button class="topic-btn" data-topic>Label</button>
                    </template>
                </div>

                <h4>Publisher</h4>

                <div data-publishers>
                    <template class="publisher-filter" data-publish-template>
                        <button class="publish-btn" data-publish>Org.</button>
                    </template>
                </div>
            </div>

            <div class="scrollable" data-list-container>
                <template data-list-template>
                    <div class="item">
                        <div data-title>No Title</div>
                        <div data-summary>No Summary Provided</div>
                        <div data-publisher>No Publisher Specified</div>
                        <div class="choices">
                            <a href="#" class="link" data-link>Read More</a>
                            <!-- <button id="remove-topic" class="choice-btn">Remove Topic</button>
                            <button id="remove-publish" class="choice-btn">Remove Publisher</button> -->
                            <button class="choice-btn" data-remove-this>Remove This Article</button>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer"></div>
    </footer>
</body>

</html>