<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compiled - Register</title>
</head>

<body>
    <div class="main-container">
        <h1>Register</h1>
        <div class="forms-container">
            <form action="/createAccount" method="GET">
                <div class="input-div">
                    <label for="first">First Name:</label>
                    <input type="text" name="first" id="first" placeholder="Enter first name">
                </div>
                <div class="input-div">
                    <label for="last">Last Name:</label>
                    <input type="text" name="last" id="last" placeholder="Enter last name">
                </div>
                <div class="input-div">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" placeholder="Enter email">
                </div>
                <div class="input-div">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" placeholder="Enter username">
                </div>
                <div class="input-div">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" placeholder="Enter password">
                </div>
                <div class="input-div">
                    <input type="submit" name="submit" value="Register">
                </div>
            </form> 
        </div>
        <form action="/" method="POST">
                <div>
                    <p>Already have an account? <input type="submit" name="exists" value="Login"></p>
                </div>
        </form>
    </div>
</body>

</html>