<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compiled - Register</title>
</head>

<body>
    <div class="main-container">
        <h1>Register</h1>
        <div class="forms-container">
            <form action="login.html" method="POST">
                <div class="input-div">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" placeholder="Enter your name">
                </div>
                <div class="input-div">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Enter your email">
                </div>
                <div class="input-div">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="Enter your username">
                </div>
                <div class="input-div">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter your password">
                </div>
                <div class="input-div">
                    <input type="submit" name="submit" value="Register">
                </div>
            </form>
        </div>
    </div>
</body>

</html>